<div class="index-container">
  <h1>Welcome to LabTrakk</h1>

  <div class="form-container">
    <h2>Login</h2>
    <%= form_for :session, url: '/login' do |f| %>
      <div class="form-row">
        <label for="email"> Email: </label> <p class="text-field"> <%= f.text_field :email %> </p>
      </div>
      <div class="form-row">
        <label for="password"> Password: </label> <p class="text-field"> <%= f.password_field :password %> </p>
      </div>
      <%= f.submit "Submit" %>

    <% end %>
  </div>

  <div class="form-container">
    <h2>Registration </h2>
    <%= form_for :user, url: '/users' do |f| %>

      <div class="form-row">
        <label for="name"> Name: </label> <p class="text-field"> <%= f.text_field :name %> </p>
      </div>
      <div class="form-row">
        <label for="email"> Email: </label> <p class="text-field"> <%= f.text_field :email %> </p>
      </div>
      <div class="form-row">
        <label for="password"> Password: </label> <p class="text-field"> <%= f.password_field :password %> </p>
      </div>
      <div class="form-row">
        <label for="password_confirmation"> Password Confirmation: </label> <p class="text-field"> <%= f.password_field :password_confirmation %> </p>
      </div>
      <%= f.submit "Submit" %>

    <% end %>
  </div>
</div>
