<div class="index-container">


  <div class="form-container">
    <h1>Create account</h1>
    <%= form_for :user, url: '/users' do |f| %>

    <div class="form-row">
      <label for="name"> Name: </label> <%= f.text_field :name %>
    </div>
    <div class="form-row">
      <label for="email"> Email: </label> <%= f.text_field :email %>
    </div>
    <div class="form-row">
      <label for="password"> Password: </label> <%= f.password_field :password %>
    <div class="form-row">
    </div>
    <div class="form-row">
      <label for="password"> Password Confirmation: </label> <%= f.password_field :password_confirmation %>
    </div>

    <div class="submit">
      <%= f.submit "Register" %>
    </div>

    <% end %>
  </div>
</div>
