<div id="proposals_list">
<h2>Proposals</h2>
<% @proposals.each do |proposal| %>
	Title: <a href="/proposals/<%= proposal.id %>"><%= proposal.title %></a><br>
	Abstract: <%= proposal.abstract %><br>
	Intro: <%= proposal.intro %><br>
	Status: <%= proposal.status %><br><br>
<% end %>
</div>