<h1>Proposal</h1>

<%= @proposal.title %><br><br>
<%= @proposal.abstract %><br><br>
<%= @proposal.intro%><br><br>
<%= @proposal.hypothesis %><br><br>
<%= @proposal.exp_method %><br><br>
<%= @proposal.date_start %><br><br>
<%= @proposal.date_end %>

<%= link_to 'Edit form', edit_proposal_path(@proposal) %>


<h2>Add a comment:</h2>
<%= form_for([@proposal, @proposal.comments.build]) do |f| %>
  <p>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<br>


<% @proposal.comments.each do |comment| %>
  <%= comment.body %>
<% end %>

<%= button_to 'Vote', upvote_proposal_path(@proposal), method: :post %>