  <div class="index-container">

  <div class="form-container">
    <h1>Proposal</h1>
    <div class="form-row">
      <label for="title"> Title: </label> <%= @proposal.title %>
    </div>
    <div class="form-row">
      <label for="abstract"> Abstract: </label> <%= @proposal.abstract %>
    </div>
    <div class="form-row">
      <label for="intro"> Introduction: </label> <%= @proposal.intro%>
    </div>
    <div class="form-row">
      <label for="hypothesis"> Hypothsis: </label> <%= @proposal.hypothesis %>
    </div>
    <div class="form-row">
      <label for="exp_method"> Method: </label> <%= @proposal.exp_method %>
    </div>
    <div class="form-row">
      <label for="date_start"> Date start: </label> <%= @proposal.date_start %>
    </div>
    <div class="form-row">
      <label for="date_end"> Date end: </label> <%= @proposal.date_end %>
    </div>

    <%= link_to 'Edit form', edit_proposal_path(@proposal) %>


    <h2>Add a comment:</h2>
    <%= form_for([@proposal, @proposal.comments.build]) do |f| %>
      <p>
        <%= f.text_area :body %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
    <br>


    <% @proposal.comments.each do |comment| %>
      <%= comment.body %>
    <% end %>
  </div>
</div>
