<!DOCTYPE html>
<html>
<head>
	<title>LabTrack</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	 <%= link_to "LabTrak", '/proposals' %> | 
	<% if current_user %>
	Signed in as <a href="/users/<%=current_user.id %>"><%= current_user.name.capitalize %></a> | <%= link_to "Logout", '/logout' %>
	<% else %>
	<%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
	<% end %>
	<%= yield %>
</body>
</html>
